body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px gray;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 8px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

small {
    color: red;
}

#serverMessage {
    margin-top: 10px;
}